MongoDB:
MongoDB is a popular open-source NoSQL database that uses a document-oriented data model. It stores data in flexible, JSON-like documents, allowing for dynamic schema and easy scalability. Some key characteristics of MongoDB include:

Flexible data model: MongoDB's document-oriented model enables storing and retrieving complex hierarchical data structures, making it suitable for use cases where data structures can evolve over time.

Horizontal scalability: MongoDB supports horizontal scaling by distributing data across multiple servers or clusters. This allows it to handle large volumes of data and high write loads efficiently.

NoSQL advantages: MongoDB provides features typical of NoSQL databases, such as automatic sharding, flexible indexing, and the ability to handle unstructured or semi-structured data. It offers fast read/write performance and flexible data querying.

MySQL:
MySQL is one of the most widely used open-source relational database management systems (RDBMS). It follows a structured data model using tables, rows, and columns. MySQL offers robust features and is known for its stability, scalability, and strong data integrity. Some key characteristics of MySQL include:

Relational data model: MySQL follows a relational data model, making it well-suited for structured data with predefined schemas and complex relationships between tables.

ACID compliance: MySQL ensures data integrity through support for Atomicity, Consistency, Isolation, and Durability (ACID) properties. It provides transaction support and supports locking mechanisms to ensure data consistency.

Mature ecosystem: MySQL has a large and active community, extensive documentation, and a wide range of tools and libraries available. It is well-integrated with various programming languages and frameworks.

MongoDB to MySQL Use Cases:
Migrating data from MongoDB to MySQL can be useful in several scenarios, including:

Data Warehousing: MySQL is often used for data warehousing and business intelligence applications. If you need to perform complex analytical queries or generate reports based on your MongoDB data, migrating it to MySQL can provide better support for such tasks.

Structured Data Requirements: If your data has evolved and now requires a more structured schema, MySQL's relational model can provide better organization and enforce stricter data consistency and integrity rules.

Integrating with Existing Systems: MySQL is a common choice for integrating data with other systems and applications. By migrating MongoDB data to MySQL, you can easily connect it to various business applications, content management systems, or legacy systems that rely on relational databases.

Compliance and Security: If you need to comply with specific security standards or regulations that require a relational database, migrating data to MySQL can help meet those requirements.

Performance Optimization: In certain cases, where MongoDB may not be the best fit for a particular workload or query pattern, migrating data to MySQL could provide performance benefits due to the optimizations available in relational databases.

It's important to assess your specific requirements and consider factors such as data structure, query patterns, scalability needs, and integration considerations when deciding to migrate data from MongoDB to MySQL.

In [ ]:

from pymongo import MongoClient

In [2]:
KARTHIKASI= MongoClient('mongodb://KARTHIKASI:Data1212@ac-w3rgwgl-shard-00-00.sua4tju.mongodb.net:27017,ac-w3rgwgl-shard-00-01.sua4tju.mongodb.net:27017,ac-w3rgwgl-shard-00-02.sua4tju.mongodb.net:27017/?ssl=true&replicaSet=atlas-ir5kqg-shard-0&authSource=admin&retryWrites=true&w=majority')

In [3]:
lt =KARTHIKASI['SQL']
collection=lt['DATA']

collection

Collection(Database(MongoClient(host=['ac-w3rgwgl-shard-00-02.sua4tju.mongodb.net:27017', 'ac-w3rgwgl-shard-00-00.sua4tju.mongodb.net:27017', 'ac-w3rgwgl-shard-00-01.sua4tju.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, replicaset='atlas-ir5kqg-shard-0', authsource='admin', retrywrites=True, w='majority', tls=True), 'SQL'), 'DATA')

In [5]:
import pandas as pd
db1=KARTHIKASI['SQL']
col=db1['DATA']
k=[]
for i in col.find():
    print(i)
    k.append(i)
len(i)
df2=pd.DataFrame(k)
df2

{'_id': ObjectId('6462229318d0c1fc0e4da6b9'), 'Name': 'Selva', 'Designation': 'DATA MANAGER', 'Email': 'hello@XYZ1.com', 'Phone': '123-456-7890', 'Website': 'XYZI.com', 'Address': '123 ABC St , Chennai', 'Image Path': '/content/1.png'}
{'_id': ObjectId('6462229318d0c1fc0e4da6ba'), 'Name': 'KARTHICK', 'Designation': 'General Manager', 'Email': 'hello@Borcelle.com', 'Phone': '123-456-7890', 'Website': 'Borcelle.com', 'Address': '123 ABC St , Salem', 'Image Path': '/content/3.png'}
{'_id': ObjectId('6462229318d0c1fc0e4da6bb'), 'Name': 'REVANTH', 'Designation': 'Marketing Executive', 'Email': 'hello@CHRISTMAS.com', 'Phone': '', 'Website': 'CHRISTMAS.com', 'Address': '3 A', 'Image Path': '/content/4.png'}

,_id,Name,Designation,Email,Phone,Website,Address,Image Path
0,6462229318d0c1fc0e4da6b9,Selva,DATA MANAGER,hello@XYZ1.com,123-456-7890,XYZI.com,"123 ABC St , Chennai",/content/1.png
1,6462229318d0c1fc0e4da6ba,KARTHICK,General Manager,hello@Borcelle.com,123-456-7890,Borcelle.com,"123 ABC St , Salem",/content/3.png
2,6462229318d0c1fc0e4da6bb,REVANTH,Marketing Executive,hello@CHRISTMAS.com,,CHRISTMAS.com,3 A,/content/4.png

In [7]:
from sqlalchemy import create_engine
###create tabel 9in the mysql database anfd insert the dataframe into the database table information
engine= create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}".format(user="root",pw="",db="easyocr"))
df2.to_sql('biz_card_info', con= engine, if_exists = 'append', chunksize = 1000)

3

In [10]:
import mysql.connector
import pymysql

In [11]:
connection= pymysql.connect(host="localhost",user="root",password="",database="easyocr")
cur=connection.cursor()
cur.execute("SELECT * from biz_card_info")
res=cur.fetchall()
for i in res:
    print(i)
connection.close()

(0, '6462229318d0c1fc0e4da6b9', 'Selva', 'DATA MANAGER', 'hello@XYZ1.com', '123-456-7890', 'XYZI.com', '123 ABC St , Chennai', '/content/1.png')
(1, '6462229318d0c1fc0e4da6ba', 'KARTHICK', 'General Manager', 'hello@Borcelle.com', '123-456-7890', 'Borcelle.com', '123 ABC St , Salem', '/content/3.png')
(2, '6462229318d0c1fc0e4da6bb', 'REVANTH', 'Marketing Executive', 'hello@CHRISTMAS.com', '', 'CHRISTMAS.com', '3 A', '/content/4.png')

The process described involves retrieving data from MongoDB and loading it into a MySQL server. Here's a step-by-step explanation of the process:

Connect to MongoDB: Establish a connection to your MongoDB database using a MongoDB driver or an ORM (Object-Relational Mapping) library. This allows you to interact with the MongoDB database and retrieve the desired data.

Query MongoDB: Use appropriate queries or filters to retrieve the specific data you want from the MongoDB collections. You can specify conditions, projections, and sort criteria to fetch the relevant documents.

Retrieve data: Execute the query and retrieve the data from MongoDB. The retrieved data can be in the form of JSON documents or BSON (Binary JSON) objects, depending on the MongoDB driver you're using.

Connect to MySQL: Establish a connection to your MySQL server using a MySQL connector library. This connection allows you to interact with the MySQL database and perform operations like inserting data.

Transform data (if needed): If the data retrieved from MongoDB is not in a suitable format for MySQL, you may need to transform it. Convert the data into a structure compatible with the MySQL schema or make any necessary adjustments.

Create MySQL tables (if needed): If the tables where you want to load the data don't exist in the MySQL database, you'll need to create them. Define the table schema, specifying the column names, data types, and any constraints or indexes.

Load data into MySQL: Using SQL statements, such as INSERT or LOAD DATA, insert the transformed data into the corresponding tables in the MySQL database. Iterate over the retrieved data and insert each record into the appropriate MySQL table.

Handle data conflicts (if needed): Depending on the nature of your data and the existing data in the MySQL tables, you may encounter conflicts such as duplicate entries or data inconsistencies. Implement appropriate strategies to handle these conflicts, such as updating existing records or skipping duplicates.

Commit changes and close connections: Once all the data has been loaded into the MySQL tables, commit the changes to ensure data integrity. Close the connections to both MongoDB and MySQL to release system resources.

By following these steps, you can successfully retrieve data from MongoDB and load it into a MySQL server, enabling you to leverage the features and capabilities of MySQL for further analysis, reporting, or any other operations supported by MySQL